langchain
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-chroma
chromadb
sentence-transformers
huggingface-hub
python-dotenv  
pypdf
docx2txt
google-genai
langchain-experimental
sentence-transformers
deep-translator
streamlit
jq
torchvision
cassio
cassandra-driver
networkx
scikit-learn
langchain-ollama
flask
reportlab
langchain-google-genai